/* header */
header {
    position: fixed;
    z-index: 10000;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    top: 0;
    background: rgba(255, 255, 255, 0.95);

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 24.2rem;
        }

        .main_menu {
            display: flex;
            gap: 8rem;

            >li {
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 2px;
                    background: var(--mainColor);
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: 0.3s;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }

                    >a {
                        color: var(--mainColor);
                    }
                }

               >a {
                    font-size: 2rem;
                    display: block;
                    line-height: 70px;
                }
            }
        }

        .depth1 {
            display: none;
            position: absolute;
            font-size: var(--textSize);
            background-color: cornflowerblue;
            line-height: 1.7;
            top: 68px;

        }

        .gnb_wrap {
            display: flex;
            gap: 3rem;

            .lang_wrap {
                .lang {
                    position: relative;

                    >a {
                        font-size: var(--textSize);
                        background: url(../images/icon-down.svg) no-repeat 100% center;
                        padding-right: 30px;
                        display: flex;
                        align-items: center;

                        /* .lang_change {} */

                        &:active {
                            background-image: url(../images/icon-up.svg);
                        }
                    }

                    .lang_list {
                        display: none;
                        position: absolute;
                        background: #fff;
                        padding: 12px;
                        width: 80px;
                        border-radius: 10px;
                        font-size: 1.4rem;
                        line-height: 2;
                        text-align: center;
                        top: 48px;
                        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
                    }
                }
            }

            .gnb_list {
                display: flex;
                gap: 1rem;
            }
        }
    }
}

/* footer */
footer {
    padding-top: 7rem;

    .inner {
        max-width: 1700px;
        background: #636363;
        border-radius: var(--large-radius) var(--large-radius) 0 0;
        padding: 50px 110px;
        display: flex;
        justify-content: space-between;
        font-size: var(--textSize);
        color: #f3f3f3;
        font-weight: 200;
        position: relative;

        .top_btn {
            position: absolute;
            top: -70px;
            right: 0;

            a {
                display: block;
                width: 6.5rem;
                height: 6.5rem;
                border-radius: 5rem;
                background: rgba(255, 38, 38, 0.95);
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
                font-weight: 500;

                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url(../images/icon-arrow-45deg.svg);
                    background-size: 100%;
                    transform: rotate(-45deg);
                }
            }
        }



        .footer_left {
            address {
                margin: 3rem 0 2rem;
            }

            .custom_center {
                margin-top: 3rem;
                font-weight: 500;
            }
        }

        .footer_right {
            /* footer_right의 자식으로 있는 선택자들이 다를 때
            .footer_right>*{}으로 쓰면 한번에 선택 됨 */
            display: flex;
            flex-direction: column;
            /* flex-direction: column;
               flex의 방향을 세로로 바꾸라는 명령어. */
            justify-content: space-between;

            ul {
                display: flex;
                justify-content: flex-end;
            }

            .footer_menu {
                gap: 5rem;
                font-weight: 300;
            }

            .sns_list {
                img {
                    width: 44px;
                }
            }
        }
    }
}